@font-face {
  font-family: noraex;
  src: url("../fonts/Noora\ Fa-En\ 01\ ExtraLight.ttf");
  font-family: noralight;
  src: url("../fonts/Noora\ Non-En\ 03\ Regular.ttf");
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: noralight !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: noralight !important;
  overflow-x: hidden;
}
#regstery {
  width: 100%;
  height: auto;
  min-height: 100px;
  background-color: #ffc346;
}

#sque {
  width: 80px;
  height: 80px;
  background-color: #ffc346;
  position: absolute;
  transform: rotate(-45deg) translateX(69%);
  right: 50%;
  bottom: 0;
  z-index: 0;
  /* overflow: hidden; */
}
.btn-black {
  color: #ffc346;
  background-color: #333333;
  border-color: #333333;
}
.bg-black {
  background-color: #333333;
}
.blacksec {
  width: 100%;
  height: auto;
  background-color: #333333;
  overflow: hidden;
}
/* .float-left {
   width: 100%;
   height: 500px;
   object-fit: cover;
} */
#header {
  width: 100%;
  height: 100%;
  background-image: url("/images/front/header.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.yellowbreak {
  width: 100%;
  height: 50px;
  background-color: #ffc346;
}
.backgroundimage {
  width: 100%;
  height: 100%;
  background-image: url("/images/front/abou.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#ciseven {
  width: 30%;
  position: absolute;
  left: 0;
  top: -200%;
}
.form-group span {
  margin-bottom: 5px;
}
.form-control {
  margin-bottom: 20px;
}
.textabout {
  background-color: #e6e6e6e2;
  font-size: 18px;
  width: 100%;
  overflow: hidden;
  height: fit-content;
  line-height: 1.7;
  text-align: justify;
}
.swiper {
  width: 300px;
  height: 600px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.input-co {
  font-weight: 500;
  height: 35px;
  display: block;
  color: #fff;
  background-color: #333333;
  border-color: #333333;
}
.contact {
  width: 100%;
  min-height: 900px;
  max-width: auto;
  background-image: url("/images/front/conus.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.w-0 {
  width: 0;
}

#navbar-logo {
  width: 300px;
  height: 150px;
  position: absolute;
  top: 0;
  left: calc(50% - 150px);
}
.intro-img-container img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #ciseven {
    width: 100%;
    position: absolute;
    left: 0;
    top: -200%;
  }

}

@media (max-width: 992px) {
  /* .nav-item,
  .navbar-toggler {
    display: none;
  } */
  /* .collapse:not(.show) {
    display: block;
  } */
  img#navbar-logo {
    width: 200px;
    height: 100px;
    left: calc(50% - 100px);
  }
  .intro-img-container {
    display: grid;
    place-items: center;
  }
  .intro-img-container:first-of-type {
    padding-top: 100px;
  }
  .intro-img-container img {
    width: clamp(300px, 90%, 500px);
  }
  .navbar-nav  {
    padding: 64px 16px 16px;
    background: #333333;
      height: 93vh;
      justify-content: space-between;
  }
  .nav-link {
    color: #fff !important;
  }
}

@media (max-width: 500px) {
  #header {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
  }
  .co-grid img:nth-child(1) {
    position: relative;
  }
  .co-grid img:nth-child(2) {
    position: relative;
    top: 120px;
    left: 50px;
  }
  .social-icon {
    flex-direction: unset !important;
    justify-content: space-around !important;
  }
}
